.body{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: 	white;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    background-color: #ee7600;
}

@media(max-width:768px) {
    .body{
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
        background-color: 	white;
      /* //  font-family:tahoma; */
      font-family: Arial, Helvetica, sans-serif;
    }
    .header{
        background-color: #ee7600;

    }

    .card-body-custom h5{
        font-size: 150%;
    }
    #form-login{
        padding-left: 100px;
    }

}
